.candidates {
  height: 60vh;
  background-color: #2D5FDE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidatesTitle {
  text-align: center;
  padding-top: 50px;
}

.candidatesTitle h3, .candidatesTitle p {
  color: #fff;
  padding-bottom: 10px;
}

.candidatesHeader {
  background: url(/assets/media/taking-notes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  height: 70vh;
  background-size: cover;
}

.candidatesHeader::after {
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: .45;
  z-index: -1;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #fff;
  width: 60%;
}

.title .h1 {
  font-size: 5rem;
}

.title .p {
  font-size: 1rem;
  padding: 10px 0;
}

@media all and (max-width: 1500px) {

  .title .h1 {
      font-size: 4rem;
  }

}



@media all and (max-width: 1150px) {

  .title {
      width: 70%;
  }
  .title .h1 {
      font-size: 3.5rem;
  }

}

@media all and (max-width: 768px) {

  .title {
      width: 90%;
  }

  .title .h1 {
      font-size: 2.5rem;
  }

}

@media all and (max-width: 414px) {

  .title .h1 {
      font-size: 2rem;
  }

}

.btnsRecruiting {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.btns{
  width: 33%;
  background-color: #E87D1B;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  padding: 15px 0px;
  position: sticky;
  z-index: 1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns2 {
  width: 33%;
  background-color: #2D5FDE;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  padding: 15px 0px;
  position: sticky;
  z-index: 1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns3 {
  width: 33%;
  background-color: #2D5FDE;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  padding: 15px 0px;
  position: sticky;
  z-index: 1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPage {
  width: 220px;
  height: 60px;
  background-color: #E87D1B;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s ease;
}
.btnPage2 {
  width: 220px;
  height: 60px;
  background-color: #E87D1B;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s ease;
  float: right;
}

.btnPage:hover, .btnPage2:hover {
 background-color: #2D5FDE;
}
.h3 {
  font-size: 1.8rem;
    color: var(--orange-color);
    padding: 0 0 10px;
    /* margin-bottom: 20px; */
}
.down {
  margin-bottom: 20px;
  color: #727171;
}

.sideText > .btnSide,
.sectionText > .btnSide  {
  padding: 40px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sideText h3 {
  font-size: 1.8rem;
  color: #E87D1B;
  padding: 0 0 10px;
}

.sideText p {
  color: #727171;
}

.candidatesSection {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.picCandidates {
  margin-top: 50px;
}

.picCandidates img {
  width: 500px;
  margin-right: 100px;
}

.two {
      display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row-reverse;
    text-align: end;
}

.two .btnSide {
  justify-content: end;
}

.two .picCandidates img {
  margin: 0 0 0 100px;
}

.tabTwo,
.tabThree {
  display: none;
}

.pages {
  display: flex;
  font-size: 1.5rem;
  margin-top: 40px;
  align-items: center;
   width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.pages p {
  margin-right: 50px;
}

.pages p:nth-child(1) {
  background-color: #2D5FDE;
  width: 50px;
  color: #fff;
  text-align: center;
}

.pages i {
  color: #2E3A59;
  font-size: 2rem;
}

@media all and (max-width: 1100px) {

  .candidatesSection {
      width: 95%;
  }
  .picCandidates img {
      margin-right: 30px;
  }
  .two .picCandidates img {
  margin: 0 0 0 30px;
  }
  .pagesCandidates {
      width: 95%;
      margin-top: 0;
  }
}
@media all and (max-width: 1000px) {

  .candidatesSection {
      flex-direction: column;
  }
  .picCandidates img, 
  .two .picCandidates img {
      width: 100%;
      margin: 0;
  }
  .two {
      text-align: start;
  }
  .two .btnSide {
      justify-content: flex-end;
  }

}
@media all and (max-width: 790px) {

 .btnsRecruiting {
  flex-direction: column;
  }
  .btns, .btns2, .btns3 {
      width: 100%;
  }
}