.ul, .li {
  padding: 0;
}
.menu {
  color: #fff;
  padding: 20px 20px 0 20px;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.socialMedia {
  display: var(--flex);
  justify-content: var(--flex-space);
  /* border-bottom: 1px solid #bfbfbf; */
  padding-bottom: 10px;
}

.slogan p {
  color: var(--white-color);
}

.logoMobile {
  display: none;
}

.socialIcons  {
  display: var(--flex);
  justify-content: var(--flex-space);
  width: 20%;
  align-items: center;
}

.socialIcons p{
  font-weight: var(--bold-txt);
}

.socialIcons i:nth-child(5)::before {
  content: '';
  border: 1px solid #A6A8A9;
  opacity: .5;
  margin-right: 25px;
  padding-top: 5px;

}

.navLinks {
  display: var(--flex);
  justify-content: var(--flex-space);
  align-items: center;
  padding: 10px 0;
}

.logo img  {
  width: 180px;
}

.links, .ul {
  display: var(--flex);
}

.ul .li {
  padding: 0px 0px 0px 30px;
  margin: 8px;
}

.ul .li .a:hover {
  border-bottom: 2px solid var(--orange-color);
}

.fab, .far  {
  color: #fff;
  transition: .5s ease all;
}

.fab:hover,
.fas:hover {
  color: var(--orange-color);
}

.white {
  color: var(--white-color) !important;
}

.menuWrap { 
display: none;
position: fixed;
top: 20px;
right: 20px;
z-index: 99;
}

.menuWrap .toggler{ 
cursor: pointer;
position: absolute;
top: 0;
right: 0;
height: 50px;
opacity: 0;
width: 50px;
z-index: 2; 
}

.menuWrap .hamburger{
align-items: center;
background: transparent;
display: var(--flex);
position: absolute;
top: 0;
right: 0;
height: 60px;
justify-content: center;
width: 60px;
z-index: 1;
}

.menuWrap .hamburger > .div1 {
position: relative;
width: 100%;
height: 2px;
background: #000;
display: var(--flex);
align-items: center;
justify-content: center;
transition: all 0.4s ease; 
}

.menuWrap .hamburger > .div1:before,
.menuWrap .hamburger > .div1:after{
content: '';
position: absolute;
z-index: 1;
top: -10px;
width: 100%;
height: 2px;
background: #000;
}

.menuWrap .hamburger > .div1:after{
top: 10px;
}

.menuWrap .toggler:checked + .hamburger > .div1{
transform: rotate(135deg);
}

.menuWrap .toggler:checked + .hamburger > .div1:before,
.menuWrap .toggler:checked + .hamburger > .div1:after{
top: 0;
transform: rotate(90deg);
}

.menuWrap .toggler:checked:hover + .hamburger > .div1{
transform: rotate(225deg);
}

.menuWrap .toggler:checked ~ .menuMobile{
visibility: visible;
}

.menuWrap .toggler:checked ~ .menuMobile > .div2 {
transform: scale(1);
transition-duration: 0.75s;
}

.menuWrap .toggler:checked ~ .menuMobile > .div2 > .div3{
opacity: 1;
transition: opacity .4s ease;
}

.menuWrap .menuMobile{ 
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 100%;
visibility: hidden;
overflow: hidden;
display: var(--flex);
align-items: center;
justify-content: center;
}

.menuWrap .menuMobile > .div2 { 
background: var(--btn-blue);
width: 200vh;
height: 200vh;
display: var(--flex);
flex: none;
align-items: center;
justify-content: center;
transform: scale(0);
transition: all 0.4s ease;
}

.menuWrap .menuMobile > .div2 > .div3{
text-align: center;
max-width: 90vh;
max-height: 100vh;
opacity: 0;
  transition: opacity 0.4s ease;
  display: var(--flex);
  flex-direction: var(--flex-column);
  justify-content: center;
  align-items: center;
}

.menuWrap .menuMobile > .div2 > .div3 .ul > .li{
list-style: none;
color: #fff;
font-size: 1.5rem;
  padding: 5px;
  font-weight: var(--bold-txt);
  cursor: pointer;
}

.menuWrap .menuMobile > .div2 > .div3 .ul > .li > .a{
color: inherit;
text-decoration: none;
transition: color 0.4s ease;
}

@media all and (max-width: 1500px) {
  .socialIcons {
      width: 30%;
  }
}
@media all and (max-width: 1182px) {
  .links {
      display: none;
  }
  .ul {
      flex-direction: var(--flex-column);
  }
  .menuWrap {
      display: initial;
      top: 50px;
  }
}
@media all and (max-width: 1100px) {
  .socialIcons {
      width: 40%;
  }
}
@media all and (max-width: 790px) {
  .socialIcons,
  .slogan,
  .navLinks {
      display: none;
  }
  .logoMobile {
     display: initial;
  }
  .logoMobile img {
     
      width: 140px;
  }
  .menu {
      background-color: transparent;
  }
  .menuWrap {
      top: 20px;
  }
}