.header {
    
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  background-size: cover;
}

.arrow {
  animation: down 5s ease infinite;
  cursor: pointer;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

@keyframes down {
  0% {
      top: 95%;
  }
  25% {
      top: 90%;
  }
  50% {
      top: 95%;
  }
  75% {
      top: 90%;
  }
  100% {
      top: 95%;
  }
}

.arrow {
  color: #fff;
  font-size: 2rem;
}

.bgVideo {
  position: absolute;
background-position: center;
background-size: 100%;
background-size: contain;
right: 0;
height: 100%;
top: 0;
  opacity: .6;
  object-fit: cover;
width: 100%;
z-index: -1;
}

.header::after {
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: .45;
  z-index: -1;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #fff;
  width: 60%;
 
}

.h1 {
  font-size: 5rem;
}

.p {
  font-size: 1rem;
  padding: 10px 0;
}

.searchJobContainer {
  display: flex;
}



.btnJobs {
  background-color: transparent;
  border: 1px solid #E87D1B;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  text-transform: uppercase;
  width: 300px;
  margin-top: 25px;
  margin-right: 50px;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnStaff {
  background-color: transparent;
  background-color:  #E87D1B;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  text-transform: uppercase;
  width: 300px;
  margin-top: 25px;
  margin-right: 50px;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnJobs:hover, .btnStaff:hover {
  background-color: #2d5fde;
  border: none;
}

.flex {
  display: flex;
}

@media all and (max-width: 1500px) {
  .h1 {
      font-size: 4rem;
  }
}

@media all and (max-width: 1150px) {

  .title {
      width: 70%;
  }
  .h1 {
      font-size: 3.5rem;
  }
  .btnJobs, .btnStaff {
    width: 100%;
  }

}

@media all and (max-width: 790px) {
  
  .title {
      width: 60%;
  }
  .flex {
    flex-direction: column;
  }
}

@media all and (max-width: 640px) {
  .h1 {
      font-size: 2.3rem;
  }
}
@media all and (max-width: 320px) {
  .h1 {
      font-size: 1.5rem;
  }
}