
.footer {
  align-items: center;
  background-color: #504E4E;;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
}

.up {
  margin-top: 20px !important;
}

.up .a {
  margin-right: 30px;
}

.logoFooter .img {
  width: 200px;
}

.txt .h3 {
  text-transform: uppercase;
}

.txt .ul {
  display: block;
  padding: 0px;
}

.txt .ul .li {
  padding: 1px 0;
  display: flex;
  align-items: center;
}

.txt .ul .li .i {
  margin-right: 10px;
}

.copyright {
  text-align: center;
  height: 10vh;
  background-color: #242222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons  {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.fas  {
  margin-right: 10px;
  padding: 3px;
}
/* media queries */

@media all and (max-width: 1100px) {
  .socialIcons {
      width: 40%;
  }
  .footer {
      align-items: flex-start;
      flex-direction: column;
      padding: 50px;
      height: auto;
  }
  .txt {
      padding: 20px 0;
  }
}

@media all and (max-width: 1000px) {

  .footer {
      text-align: left;
  }
}

@media all and (max-width: 750px) {

  .txt {
      font-size: .9rem;
  }
}

@media all and (max-width: 640px) {

  .footer {
      padding: 20px;
  }
  .logoFooter img {
      width: 150px;
  }
  .logoFooter p {
      width: fit-content;
  }
}