.container1 {
      width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.input {
  border: none;
    border-bottom: 1px solid !important;
    margin-bottom: 30px;
    width: 100%;
}

.btn2 {
  width: 100%;
  height: 25px;
  border: none;
  background-color: #e87d1b;
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: .5s ease;
}
.btn2:hover{
  background-color: #0070f3;
}
.form {
  width: 300px;
  padding: 20px;
}